header{
  height: 90px;
}
/* Hex Code RGB */

.color{
      color: #800000
    }
     header ul li{
      display: inline-block;

    }
    header ul li {float: right ;
    }
  p.ex {
  color: rgb(165,42,42);
}
a{
      text-decoration: none
    }
    body {
      padding: 50px
    }
  div {
     background-color: peachpuff
   }
  